@{
    ViewBag.Layout_ContentTitle = "References";
}

<br />
<div class="clear"></div>

<div class="grid_16" id="buttons">
    @Html.SmartButton(Url.Action("Index"),"Return To Support Center")
<span class="clear"></span>
</div> 

  <section class="grid_16 box">

        <div class="inside">
             <h4>Tool Kit For Implementing Single Patient Use Glucose Meters In Long-Term Care Facilities </h4>
            <div>Wisconsin HAIs in Long Term Care Coalition</div>
            <a href="/Content/Downloads/13-007attachment-toolkit.pdf">(13-007Attachment-toolkit.pdf.PDF)</a>
            <br /><br />
            <hr />

            <h4>Communicable Disease Reporting/Prevention and Control of Influenza in Long Term Care Facilities</h4>
            <div>Wisconsin Division of Public Health, 10/21/11</div>
            <a href="/Content/Downloads/Communicable_Diseases_Reporting_Guidelines.pdf">(Communicable Diseases Reporting Guidelines.PDF)</a>
            <br /><br />
            <hr />

            <h4>Guideline for Hand Hygiene in Health-Care Settings</h4>
            <div>CDC, MMWR, 10/25/02</div>
             <a href="/Content/Downloads/CDC_Hand Hygiene.pdf">(CDC Hand Hygiene.PDF)</a>

            <br /><br />
            <hr />

            <h4>Guideline for Isolation Precautions</h4>
            <div>CDC, 2007</div>
            <a href="/Content/Downloads/CDC_Isolation_Precautions.pdf">(CDC Isolation Precautions.PDF)</a>

            <br /><br />
            <hr />

            <h4>Guidelines for Prevention and Control of Antibiotic Resistant Organisms</h4>
            <div>Wisconsin Division of Public Health, September, 2005</div>
            <a href="/Content/Downloads/ARO_Guidelines.pdf">(ARO Guidelines.PDF)</a>

            <br /><br />
            <hr />

            <h4>Preventing Clostridium difficile Infections</h4>
            <div>CDC, MMWR, 03/06/12</div>
            <a href="/Content/Downloads/C_Difficile.pdf">(C Difficile.PDF)</a>

            <br /><br />
            <hr />

            <h4>Prevention and Control of Viral Gastroenteritis Outbreaks</h4>
            <div>Wisconsin Division of Public Health, 10/20/09</div>
            <a href="/Content/Downloads/Viral_Gastroenteritis.pdf">(Viral Gastroenteritis.PDF)</a>

            <br /><br />
            <hr />

            <h4>Recommended Adult Immunization Schedule</h4>
            <div>CDC, 2011</div>
            <a href="/Content/Downloads/CDC_Immunization _Recommendations_for_Adults.pdf">(CDC Immunization Recommendations for Adults.PDF)</a>

            <br /><br />
            <hr />

            <h4>Standard Precautions</h4>
            <div>World Health Organization, 10/07</div>
            <a href="/Content/Downloads/WHO_Standard_Precautions.pdf">(WHO Standard Precautions.PDF)</a>

        </div>
    </section>

    <div class="clear"></div>