@model IQI.Intuition.Reporting.Models.User.ExportRequest

@{
    ViewBag.Layout_ContentTitle = "Processing...";
}

<section class="grid_5">
&nbsp;
</section>
<section class="grid_6 box leading">
    <h3>Export Request</h3>
    <div style="font-weight:bold;padding:10px;text-align:center;">
        <img src="/Content/Images/standard-loader.gif" />
    </div>
</section>