   <table border="0" width="100%">
        <tr>
            <td style="vertical-align:top;">
                <img src="/Content/images/print-logo.jpg" />
            </td>
            <td style="vertical-align:top;">
              <div style="text-align:right;font-weight:bold;font-size:22px;">
              @ViewData["title"]
              </div>
              <div style="text-align:right;font-weight:bold;font-size:14px;padding-top:1px;">
              @ViewData["locationDescription"]
              </div>
              <div style="text-align:right;font-weight:bold;font-size:14px;padding-top:1px;">
              Printed By: @ViewData["user"]
              </div>
              <div style="text-align:right;font-weight:bold;font-size:14px;padding-top:1px;">
              Printed On: @ViewData["on"]
              </div>
            </td>
        </tr>
    </table>