<div>
    SERVICES AGREEMENT

    <br /><br />
    This Agreement, entered into @DateTime.Today.FormatAsShortDate(), by and between IQI Systems LLC, (“IQI”), a Wisconsin Corporation, and Nursing Facility ("Facility").
    <br /><br />
    WITNESSETH
    <br /><br />
    WHEREAS, the Facility is a state licensed nursing home (skilled nursing home – SNF), certified to provide a skilled level of care and requires Quality Assurance services in conjunction with necessary medical care and desires to arrange for the appropriate provision of Quality Assurance services; and
    <br /><br />
    WHEREAS, IQI operates a web based program providing Quality Assurance services, and desires to provide Quality Assurance services to the Facility.
    <br /><br />
    NOW, THEREFORE, in consideration of the covenants and agreements herein contained, it is hereby mutually agreed by and between the parties as follows:
    <br /><br />
    I.	QUALITY ASSURANCE SERVICES
    <br /><br />
    A.	IQI will provide to the Facility a web-based Quality Assurance program (“Intuition”).  Usage of this web-based program is subject to all provisions of the IQI Disclaimer, Copyright and Privacy Policies (Attachment A).
    <br /><br />
    B.  IQI will provide, at no additional cost, periodic enhancements/updates to it’s web-based Quality Assurance program (“Intuition”) at our discretion based on multiple factors to include, but not limited to, input from government agencies, professional Quality Assurance organizations and clients.
    <br /><br />
    C.  IQI will provide access to our web-based Quality Assurance program (“Intuition”) to all employees, designees, affiliates, agents and/or contractors as specifically requested by Facility.
    <br /><br />
    D.	IQI shall employ all personnel and all equipment necessary to meet its obligations under this Agreement EXCEPT any Facility computers, internet accessible devices, internet provider(s), printers and/or any other Facility-used equipment needed to access and/or use the IQI web-based Quality Assurance program (“Intuition”).
    <br /><br />
    E.	IQI will provide support services for interruption of service and/or assistance in accessing our web-based Quality Assurance program (“Intuition”) within a timely manner.
    <br /><br />

    II.	FACILITY RESPONSIBILITIES
    <br /><br />
    A.	In accordance with 42 C.F.R. 483.75, the Facility acknowledges responsibility for obtaining services that meet the professional standards and principles applicable to the professionals providing services in the Facility under this Agreement and for the timeliness of such services.
    <br /><br />
    B.	Facility will be responsible for entering all necessary information into the IQI Quality Assurance program (“Intuition”) and/or monitoring same.
    <br /><br />
    C.	Facility will be responsible for maintaining an accurate list of all employees, designees, affiliates, agents and/or contractors with access into the IQI Quality Assurance program (“Intuition”).
    <br /><br />
    D.	Facility will provide, at it’s own cost, any computers, internet accessible devices, internet provider(s) and/or printers necessary to access and/or use the IQI web-based Quality Assurance program (“Intuition”).

    <br /><br />
    III.	REPORTING
    <br /><br />
    A.	IQI will provide a mechanism to save/print/email single and/or composite reports of data entered into the IQI Quality Assurance program (“Intuition”).

    <br /><br />
    IV.	TRAINING
    <br /><br />
    A.	IQI will provide qualified IQI personnel to perform in-service educational programs related to the use and benefits of the IQI Quality Assurance program (“Intuition”).
    <br /><br />
    B.	IQI will provide appropriate IQI personnel whenever possible to participate in various committees at the Facility such as Infection Control for the provision of clinical consultation.
    <br /><br />

    V.	TERM AND TERMINATION

    <br /><br />
    A.	The term of this Agreement shall be for a period of one (1) year commencing on April 1,  2015, and terminating on April 1, 2016, and thereafter shall be
    automatically renewed for successive one year terms unless terminated as herein provided.
    <br /><br />
    B.	Either party, upon 30 days written notice, may terminate the Agreement at any time.  In the event of termination, the Facility shall be obligated to IQI for payment of services rendered prior to the effective date of termination.
    <br /><br />
    VII.	INDEMNITY
    <br /><br />
    A. 	Both parties agree to mutually indemnify and hold harmless officers, directors, employees, agents and representatives of either party against any damage, liability, loss or cost arising out of or resulting from any action, omission or negligence of either parties' officers, directors, employees, agents and representatives.
    <br /><br />
    VII.	PATIENT CONFIDENTIALITY AND HIPAA COMPLIANCE
    <br /><br />
    A.	The parties agree to comply with, and to cause their employees, subcontractors and agents to comply with, applicable state and federal laws and regulations relating to the security, protection and privacy of individually identifiable health care information, including without limitation the Health Insurance Portability and Accountability Act of 1996 and regulations promulgated thereunder, as they may be amended from time to time.
    <br /><br />
    VIII.	MISCELLANEOUS

    <br /><br />
    A.	Governing Law.  This Agreement has been executed and delivered in, and shall be construed and enforced in accordance, with the laws of the State of  Wisconsin.
    <br /><br />
    B.	Severability.  In the event any provision of this Agreement is held to be unenforceable for any reason the enforceability thereof shall not affect the
    remainder of this Agreement, which shall remain in full force and effect and enforceable in accordance with its terms.
    <br /><br />
    C.	Assignment.  No assignment of this Agreement or the rights and obligations hereunder shall be valid without the specific written consent of the parties hereto except IQI may assign this Agreement in connection with a transfer of substituted assets of IQI.
    <br /><br />
    D.	Notices.  Notices or communications required or permitted under this Agreement shall be given to the respective parties by hand delivery or by registered or certified mail (said notice being deemed given as of three (3) days after the date of mailing) at the following addresses unless a party shall otherwise designate in writing:
    <br /><br />

    Facility
    <br /><br />

    IQI
    <br /><br />
    IQI Systems LLC
    <br />
    310 E. Buffalo St.
    <br />
    Suite 131
    <br />
    Milwaukee WI  53202
    <br /><br />
    E.	Entire Agreement.  This Agreement supersedes all previous contracts and constitutes the entire Agreement between the parties.
    <br /><br />
    F.  IQI warrants that retention of information/records will be in full compliance of state/federal laws and regulations governing said information.

</div>