

#root
{
    background: linear-gradient(314deg, #135041, #000000);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 32s ease infinite;
    -moz-animation: AnimationName 32s ease infinite;
    animation: AnimationName 32s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}
@keyframes AnimationName { 
    0%{background-position:99% 0%}
    50%{background-position:2% 100%}
    100%{background-position:99% 0%}
}

.ui-widget 
{
    /* Was rendering with wrong/too large of a font */
    font-family: sans-serif;
    font-size: .8em  !important;
}

.ui-button .ui-button-text
{
    line-height:normal;
}

.ui-dialog .ui-dialog-titlebar-close span
{
    margin:-8px;
}

.ui-dialog .ui-dialog-content
{
    padding-top:6.4px;
    padding-bottom:6.4px;
    padding-left:12.8px;
    padding-right:12.8px;
}