@model int
@{
    ViewBag.Layout_ContentTitle = "Manage Resources";
}

@Html.Css("/Styles/ui.jqtreeview.css")
@Html.Script("/Scripts/jquery.jqTreeView.min.js")

<br />
<section class="grid_5 box">
<h3>Folders</h3>
<div>
    <br />
    @Html.Trirand().JQTreeView(
                new JQTreeView
                {
                    DataUrl = Url.Action("FolderList"),
                    Height = System.Web.UI.WebControls.Unit.Pixel(300),
                    Width = System.Web.UI.WebControls.Unit.Pixel(300)
                }, "treeview")

</div>
<br />
</section>


<section class="grid_11 box">
<h3>Resources</h3>
<div>
    <div id="FolderView"></div>
</div>
</section>

<div class="clear"></div>


<script type="text/javascript">

    function showAddFileOption()
    {
        $('#AddFolder').hide();
        $('#AddLink').hide();
        $('#AddFile').show();
    }

 
    function showAddLinkOption()
    {
        $('#AddFolder').hide();
        $('#AddLink').show();
        $('#AddFile').hide();
    }
    
    function showAddFolderOption()
    {
        $('#AddFolder').show();
        $('#AddLink').hide();
        $('#AddFile').hide();
    }   

    function handleSelect(node, event) {
        var tree = $("#treeview").getTreeViewInstance();
        var nodeOptions = tree.getNodeOptions(node);
        var id = nodeOptions.value;
        loadList(id);
    }

    function loadList(id)
    {
        $.ajaxSetup({
            cache: false
        });

        $('#FolderView').load("@Url.Action("LoadFolder")/?id=" + id);
    }

    $(function () {

        var tree = $("#treeview").getTreeViewInstance();
        tree.options["onSelect"] = handleSelect;

        if(@Model > 0)
        {
           loadList(@Model);  
        }

    });

</script>