<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="IQI.Intuition.Domain.Models"
             connectionString="data source=(local);initial catalog=IQI.Intuition.DB;Integrated Security=SSPI;"
             providerName="System.Data.SqlClient" />
        <add name="IQI.Intuition.Reporting.Models"
             connectionString="data source=(local);initial catalog=IQI.Intuition.DB;Integrated Security=SSPI;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>