@model IQI.Intuition.Web.Models.Administration.Utilization.IndexView

@{
    ViewBag.Layout_ContentTitle = "Utilization Report";
}


<section class="grid_16 box leading" style="margin-top:0px;">
    <h3>Facility Statistics</h3>
    <div class="inside">
        <br />
        <table class="iqitable" style="margin-bottom:0px;">
            <tr>
                <td>Facility Name</td>
                <td>Logins</td>
                <td>Infections</td>
                <td>Incidents</td>
                <td>Wounds</td>
                <td>Psych</td>
                <td>Complaints</td>
                <td>Employee Infections</td>
                <td>Catheters</td>
                <td>Top Users</td>
            </tr>

        </table>
        <br />
</div>
</section>

<div class="clear"></div>