@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Layout_PageTitle = "Error";
}

<section class="grid_5">
&nbsp;
</section>
<section class="grid_6 box leading">
    <h3>Error:</h3>
    <div style="font-weight:bold;padding:10px;text-align:center;">
        An error has occurred. 
    </div>
</section>
