@model IQI.Intuition.Exi.Models.QICast.ComplaintGraph



<div class="tile quadro double-vertical bg-white" style="opacity:.85">
<div class="tile-content" style="padding:5px;">
    @Html.DisplayFor(x => x.Chart, new { width="500", height="200" })
</div>
<div class="brand bg-black">
<span class="label fg-white">Family/Resident Concerns</span>
</div>
</div>