@model IQI.Intuition.Web.Models.Reporting.Vaccine.Facility.LineListingVaccineView
           
@{
    ViewBag.Layout_ContentTitle = "Immunization Line Listing";
}


<section class="grid_32 box leading"> 
        <div class="inside">
        <br />
        <table class="iqitable" style="margin-bottom:0px;">
            <tr>
                <th style="width:150px;">Patient</th>
                <th style="width:600px;">Immunizations</th>
            </tr>
        </table>
            @foreach (var row in Model.Patients)
            {
                <table class="iqitable" style="margin-bottom:0px;">
                    @{Html.RenderPartial("~/Views/Shared/DisplayTemplates/LineListingVaccineRow.cshtml", row, new ViewDataDictionary { { "showLink", "false" } });}
                </table>
            }
        
            <br />
        </div> 
</section>

<div style="clear:both;">&nbsp;</div>

